* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.png);
    background-repeat: repeat;
    font-family: 'Baloo 2', sans-serif;
    min-height: 100vh;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #ffa142;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-right ion-icon {
    font-size: 35px;
    color: white;
}

.links-login {
    display: flex;
    flex-direction: column;
    line-height: 15px;
}

.links-login a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}

.links-login a.cadastro {
    font-size: 12px;
    opacity: 0.8;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
    text-decoration: none !important;
    color: inherit;
}

.logo-container span {
    text-decoration: none !important;
}

.logo-text {
    font-size: 35px;
    font-weight: 800;
    color: #ffffff;
}

.logo-au {
    color: #ff6e61;
}

.logo-container img {
    height: 70px;
    width: auto;
}

.container {
    width: 380px;     
    height: a;         
    background: #ff6e61;
    margin: 120px auto;
    padding: 95px 35px 55px;   
    border-radius: 30px;       
    position: relative;
}

.paw {
    position: absolute;
    top: -100px;              
    left: 50%;
    transform: translateX(-50%);
}

.paw img {
    width: 90px;
}

.title {
    position: absolute;
    top: -10px;               
    left: 50%;
    transform: translateX(-50%);
    background: #ffd902;
    color: #ff6e61;
    font-size: 28px;
    font-weight: 800;
    padding: 18px 50px;
    border-radius: 35px;
    text-align: center;
    line-height: 30px;
    width: 20vw;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    background: #ffd902;
    width: fit-content;
    padding: 5px 18px;
    border-radius: 12px;
    color: #ff6e61;
    font-size: 15px;
    font-weight: 700;
    margin-top: 14px;
}

.form input,
.form textarea {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 25px;
    font-size: 10px;
    margin-top: 4px;
    outline: none;
}

.form textarea {
    height: 100px;
}

.botao {
    background-color: #ffd902;
    color: #ff6e61;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin: 35px auto 0 auto; 
    display: block;
}

.botao:hover {
    opacity: 0.8;
}

@media (min-width: 1024px) {

    .container {
        width: 450px;          
        margin: 140px auto;
        padding: 95px 35px 55px;
    }

    .title {
        width: 320px;         
        font-size: 26px;
        padding: 16px 40px;
    }

    .paw img {
        width: 85px;          
    }

    .form label {
        font-size: 15px;
        padding: 6px 20px;
    }

    .form input,
    .form textarea {
        font-size: 13px;
        padding: 14px;
    }
}

