<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/adotante.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap" rel="stylesheet">
    <title>Adotante</title>
</head>

<body>
    <header>
        <nav class="nav-bar">
            <a href="../index.html" class="logo-container">
                <img src="../img/logo.png" alt="">
                <span class="logo-text">
                    Mi<span class="logo-au">AU</span>dopt
                </span>
            </a>

            <div class="menu-right">
                <ion-icon name="person-outline"></ion-icon>
                <div class="links-login">
                    <a href="cadastro.html">Entrar</a>
                    <a href="cadastro.html" class="cadastro">Cadastrar-se</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="paw">
            <img src="../img/logo.png" alt="Pata">
        </div>

        <h1 class="title">Cadastre-se e Adote!</h1>

        <form class="form">
            <label>Nome:</label>
            <input type="text">

            <label>E-mail:</label>
            <input type="email">

            <label>Telefone:</label>
            <input type="text">

            <label>Endereço:</label>
            <input type="text">

            <label>Porque quer adotar?</label>
            <textarea></textarea>

            <button class="botao">Cadastrar-se</button>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>