<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Página Login/Cadastro</title>
    <link rel="stylesheet" href="../style/cadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&display=swap" rel="stylesheet">
</head>

<body>

    <header>
        <nav class="nav-bar">
            <a href="../index.html" class="logo-container">
                <img src="../img/logo.png" alt="">
                <span class="logo-text">
                    Mi<span class="logo-au">AU</span>dopt
                </span>
            </a>

            <div class="menu-right">
                <ion-icon name="person-outline"></ion-icon>
                <div class="links-login">
                    <a href="cadastro.html">Entrar</a>
                    <a href="cadastro.html" class="cadastro">Cadastrar-se</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="caixa-principal">

        <div class="caixa-formulario">
            <h2 class="titulo">Entre</h2>

            <label class="rotulo">E-mail:</label>
            <input class="campo" type="email" placeholder="Digite seu e-mail">

            <label class="rotulo">Senha:</label>
            <input class="campo" type="password" placeholder="Digite sua senha">

            <button class="botao">Entrar</button>
        </div>

        <div class="caixa-formulario">
            <h2 class="titulo">Cadastre-se!</h2>

            <label class="rotulo">Nome:</label>
            <input class="campo" type="text">

            <label class="rotulo">E-mail:</label>
            <input class="campo" type="email">

            <label class="rotulo">Telefone:</label>
            <input class="campo" type="text">

            <label class="rotulo">Endereço:</label>
            <input class="campo" type="text">

            <button class="botao">Cadastrar-se</button>
        </div>

    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>